@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel' as *;
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default' as *;

.owl-carousel {
  .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32rem !important;

    a,
    a:active,
    a:hover {
      color: var(--clr-primary);
      cursor: pointer;
      text-decoration: none;
    }

    label {
      font-size: 1.2rem;
    }

    img {
      border-radius: 1rem;
      padding: 0.25rem;
    }
  }
}
